.main__inner {
    max-width: 1270px;
    margin: 0 auto;
}
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.main-nav a {
    display: flex;
    gap: 5px;
    align-items: center;
}
.main-nav a p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: var(--main-text-color);
}
.login-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.login-poles {
    width: 350px;
    display: flex;
    flex-flow: column wrap;
}
.pole-settings {
    background: var(--poles-bg);
    border: 1px solid var(--button-bg);
    border-radius: 15px;
}
.login-poles label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--second-text-color);
    margin-top: 20px;
}
.login-poles input {
    height: 30px;
    border-radius: 15px;
    padding: 15px;
}
.type-selection {
    display: flex;
    border-radius: 15px;
    margin-bottom: 30px;
    background: var(--button-bg);
}
.type-selection-btn {
    background: var(--button-bg);
    width: 150px;
    height: 30px;
    border: 2px solid var(--button-bg);
    border-radius: 10px;
    z-index: 10;
}
.type-selection-btn-active {
    background: var(--active-buttno-bg);
    z-index: 100;
}
.type-selection button p {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--main-text-color);
}
.login-btn {
    width: 250px;
    height: 30px;
    background: var(--button-bg);
    border-radius: 15px;
    transition: all 0.1s ease-out;
    margin: 0 auto;
    margin-top: 45px;
}
.login-btn:active {
    background: var(--active-buttno-bg);
    border: 1px solid var(--button-bg);
}
.login-btn p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-text-color);
}
.link-to-register {
    margin: 15px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-text-color);
}
.link-to-register span {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #2B6241;
}
